.contenedor1{
    background-color: rgb(230, 187, 130);
    border: 10px;
    border-color: black;
    display: inline-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2{
    background-color:blue;
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3{
    background-color: green;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor2{
    background-color: rgb(218, 178, 126);
    border: 10px;
    border-color: black;
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.item4{
    background-color: red;
    width: 33.3%;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item5{
    background-color:blue;
    width: 33.3%;
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6{
    background-color: green;
    width: 33.3%;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2b{
    background-color: rgb(221, 175, 114);
    border: 10px;
    border-color: black;
    height: 300px;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;

}

.item4b{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item5b{
    background-color:blue;
    width: 100px;
    height: 100px;
    
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6b{
    background-color: green;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor3{
    background-color: rgb(196, 155, 101);
    border: 10px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item7{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item8{
    background-color:blue;
    width: 100px;
    height: 100px;
    
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item9{
    background-color: green;
    width: 100px;
    height: 100px;
    margin-left: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}